/*Llamada de archivos SCSS*/
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
/*Titulo*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Suez+One&display=swap");
/*Menu*/
@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap");
/*Encabezados*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");
/*Texto*/
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(27, 27, 114, 0.897)));
  background-image: linear-gradient(to bottom, white, rgba(27, 27, 114, 0.897));
}

.contenedorPag {
  display: -ms-grid;
  display: grid;
}

header {
  height: 200px;
  width: auto;
  background-color: #1b1b72;
  background-image: url(../Images/Header.jpg);
  background-repeat: no-repeat;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.877);
  /*Nombre Empresa*/
}

header .titulo {
  padding-top: 30px;
  letter-spacing: 5px;
  font-family: 'Righteous', cursive;
  font-size: 70px;
  font-style: normal;
  text-align: center;
  letter-spacing: 10px;
  /*Animacion Titulo*/
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

header .titulo a {
  text-decoration: none;
  color: white;
}

/*Menu*/
@media screen and (max-width: 800px) {
  nav {
    width: 80%;
    height: 100%;
    background-color: blue;
    margin: 0;
    position: fixed;
  }
  nav .menu__listaEnc li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -10px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  /*Menu 2*/
  /*Buscador*/
}

nav .menu__listaEnc {
  display: inline-block;
  list-style-type: none;
  font-size: 0;
  /*Sub menu*/
}

nav .menu__listaEnc li {
  display: inline-block;
  position: relative;
  font-size: 30px;
  border: 1px solid transparent;
}

nav .menu__listaEnc li a {
  color: black;
  padding: 1rem;
  text-decoration: none;
  font-family: 'Baloo Chettan 2', cursive;
}

nav .menu__listaEnc li a:hover {
  color: #e4b77c;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  text-decoration: none;
}

nav .menu__listaEnc .listaSubmenu {
  position: absolute;
  width: 200px;
  height: 0px;
  -webkit-transition: height 3s;
  transition: height 3s;
  display: none;
}

nav .menu__listaEnc :hover .listaSubmenu {
  height: 120px;
  display: block;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(2%, #176980), to(#000851));
  background: linear-gradient(360deg, #176980 2%, #000851 100%);
  color: blanchedalmond;
  border-radius: 5px;
  border: 1px solid blanchedalmond;
}

nav .menu__listaEnc :hover .listaSubmenu a {
  color: blanchedalmond;
  font-size: 20px;
  text-decoration: none;
}

nav .menu__listaEnc :hover .listaSubmenu :hover a {
  color: blanchedalmond;
  font-size: 22px;
  text-decoration: underline;
}

nav .menu__menu2 {
  list-style-type: none;
}

nav .menu__menu2 li {
  display: inline-block;
  position: relative;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

nav .menu__menu2 li a {
  font-size: 30px;
  color: black;
  padding: 1rem;
  text-decoration: none;
  font-family: 'Baloo Chettan 2', cursive;
}

nav .menu__menu2 li a:hover {
  color: #e4b77c;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  text-decoration: none;
}

nav .menu__contenedorBusc {
  white-space: nowrap;
  position: relative;
  padding-top: 20px;
  padding-left: 50px;
}

nav .menu__contenedorBusc #buscar {
  width: 200px;
  height: 25px;
  background: #3c507c;
  border: none;
  font-size: 12pt;
  float: right;
  color: #fdfdfd;
  padding-left: 45px;
  border-radius: 5px;
}

nav .menu__contenedorBusc .icono {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-top: 5px;
  float: right;
}

/*!!!!!!!!---Problemas---!!!!!!!!*/
nav :hover.cabSubmenu a {
  color: blanchedalmond;
  text-decoration: none;
}

nav :hover.cabSubmenu {
  border-radius: 5px;
  border: 1px solid blanchedalmond;
  background: #1b1b72;
  padding-top: 0px;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  border-style: solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0))), url("../Images/grass.jpg");
  background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0)), url("../Images/grass.jpg");
  background-position: 50% 25vh;
}

footer h6 {
  margin-top: 5px;
  font-family: 'Baloo Chettan 2', cursive;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h6 .links li {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
  color: black;
}

footer h6 .links li a {
  font-size: 18px;
  list-style-type: none;
  text-decoration: none;
}

footer h6 .links :hover {
  color: #06012e;
  text-shadow: 5px 2px 10px white;
}

footer .socialFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

footer .socialFooter img {
  width: 30px;
  height: 30px;
  opacity: 1;
  padding: 6px;
}

/*Variables*/
/*Encabezados*/
h2 {
  font-family: "Trispace", sans-serif;
}

h4, h3 {
  font-family: "Baloo Chettan 2", cursive;
}

/*TEXTO GENERAL <p>*/
.texto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 700px;
      grid-template-columns: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 2px;
  font-size: 17px;
}

.texto2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 700px;
      grid-template-columns: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 4px;
  font-size: 22px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: -ms-grid;
  display: grid;
}

/*Variables*/
/*Imagen Fondo*/
/*-------------------------------Pag Error404----------------------------*/
.contE404 {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  background-image: url(../Images/e4041.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
      grid-template-areas: "titulo" "cuerpo";
  -ms-grid-rows: 400px 200px;
      grid-template-rows: 400px 200px;
  grid-gap: 10px;
}

.contE404 h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
  margin-top: 200px;
  font-size: 75px;
  color: #fbfbfb;
  text-shadow: 2px 15px 5px rgba(0, 0, 0, 0.644);
}

.contE404 .enlaceE404 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cuerpo;
  border: 5px;
  font-size: 30px;
  color: #001f74;
  text-transform: uppercase;
  text-shadow: 2px 12px 10px #000200;
  text-align: right;
}

.contE404 .enlaceE404 .enlaceE404__boton {
  padding: 10px 15px;
  margin-top: 40px;
  border: none;
  border: solid 5px;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 20%;
  font-size: 30px;
  outline: none;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

.contE404 .enlaceE404 .enlaceE404__boton a {
  font-family: "Open Sans Condensed", sans-serif;
  text-decoration: none;
}

.contE404 .enlaceE404 .enlaceE404__boton a:visited {
  color: black;
}

.contE404 .enlaceE404 .enlaceE404__boton a:hover {
  color: white;
}

.contE404 .enlaceE404 .enlaceE404__boton:hover {
  background-color: #1185e4;
  font-size: 35px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

/*-------------------------------Pag Sistemas----------------------------*/
.contenedorSist {
  padding-top: 200px;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 15%;
  background-image: radial-gradient(white, slategray);
      grid-template-areas: "titulo" "Lista" "info";
  -ms-grid-rows: 0px 950px auto;
      grid-template-rows: 0px 950px auto;
}

.contenedorSist h2 {
  height: 80px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
  margin-top: -150px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #1a206e;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 5px 5px #ccc;
  /*Animacion Titulo*/
  -webkit-animation: fadeOut;
          animation: fadeOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.contenedorSist .contenedorSist__lista {
  height: 300px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Lista;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "Lista1 Lista2";
  -ms-grid-columns: 550px 200px;
      grid-template-columns: 550px 200px;
  grid-gap: 30x;
  list-style: square;
  /*Intente modificar el numero de la lista mediante bucle for*/
}

.contenedorSist .contenedorSist__lista .L1__tit {
  font-size: 35px;
  font-family: "Baloo Chettan 2", cursive;
}

.contenedorSist .contenedorSist__lista li {
  font-size: 20px;
  font-weight: bold;
  list-style: square;
}

.contenedorSist .contenedorSist__lista .L1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Lista1;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-columns: 1;
          columns: 1;
}

.contenedorSist .contenedorSist__lista .L2-2 {
  list-style: " 3. ";
  list-style: " 4. ";
}

.contenedorSist .contenedorSist__lista .L2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Lista2;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.contenedorSist .contenedorSist__inf {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: info;
}

.contenedorSist .contenedorSist__inf h3 {
  font-size: 35px;
  text-shadow: 2px 5px 5px rgba(10, 25, 107, 0.507);
}

.contenedorSist .contenedorSist__inf .contenedorSist__inf1 {
  text-align: end;
}

/*------------------------------- Index ----------------------------*/
/*Cuerpo*/
.contenedorCuerpo {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "CTA sec1" "sec2 sec1" "sec2 sec1";
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 450px auto auto;
      grid-template-rows: 450px auto auto;
  margin-top: 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(#1CB5E0), to(#000851));
  background-image: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  text-align: center;
  /*Secciones*/
  /*Tipografia Encabezados*/
}

.contenedorCuerpo iframe {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: solid 0.5px;
  border-radius: 10px;
  background-color: #16172a;
  opacity: 0.8;
  margin-top: 40px;
  padding: 5px;
}

.contenedorCuerpo :hover iframe {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.contenedorCuerpo .cuerpoCTA {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: CTA;
}

.contenedorCuerpo .cuerpoCTA h3 {
  color: white;
  font-size: 35px;
  margin-top: 15px;
  text-align: center;
}

.contenedorCuerpo .sec1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: sec1;
  -ms-grid-rows: 900px;
      grid-template-rows: 900px;
  margin-top: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #176980), to(#000851));
  background-image: linear-gradient(180deg, #176980 2%, #000851 100%);
  background-color: #102347;
}

.contenedorCuerpo .sec1 p {
  margin-bottom: 100px;
  font-size: 16px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedorCuerpo h2, .contenedorCuerpo h3 {
  font-family: 'Trispace', sans-serif;
}

.contenedorCuerpo .art1 {
  padding: 1em;
  width: 350px;
  font-size: 20px;
}

.contenedorCuerpo .art1 h2 {
  color: white;
  font-size: 25px;
  text-align: center;
  /*Animacion Articulo1*/
  -webkit-animation: lightSpeedInRight;
          animation: lightSpeedInRight;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.contenedorCuerpo .art1 img {
  margin-top: 10px;
  margin-left: 45px;
  margin-bottom: 10px;
  width: inherit;
  height: inherit;
}

.contenedorCuerpo .sec2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sec2;
  margin: 0;
  grid-row-gap: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #06012e), to(#176980));
  background-image: linear-gradient(180deg, #06012e 2%, #176980 100%);
}

.contenedorCuerpo .sec2 p {
  font-size: 16px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
}

.contenedorCuerpo .art2 {
  padding: 1em;
  width: 350px;
  font-size: 20px;
}

.contenedorCuerpo .art2 h2 {
  color: white;
  font-size: 25px;
  text-align: center;
  /*Animacion Articulo2*/
  -webkit-animation: lightSpeedInLeft;
          animation: lightSpeedInLeft;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.contenedorCuerpo .art2 img {
  margin-top: 10px;
  margin-left: 45px;
  margin-bottom: 10px;
  width: inherit;
  height: inherit;
}

/*-------------------------------Pag Login Registro----------------------------*/
.login {
  background-image: url(../Images/grassLogin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  /*Formularios*/
}

.login .contenedor__todo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 200px;
  position: relative;
}

.login .contenedor__todo .caja__trasera {
  width: 100%;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(1, 48, 255, 0.42);
}

.login .contenedor__todo .caja__trasera div {
  margin: 100px 40px;
  color: white;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.login .contenedor__todo .caja__trasera div p, .login .contenedor__todo .caja__trasera div button {
  margin-top: 30px;
}

.login .contenedor__todo .caja__trasera div h3 {
  font-weight: 400px;
  font-size: 26px;
}

.login .contenedor__todo .caja__trasera button {
  padding: 10px 40px;
  border: 2px solid white;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  /*quita linea al apretar boton*/
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.login .caja__trasera button:hover {
  background: #fff;
  color: #46a2fd;
}

.login .contenedor__login-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;
  -webkit-transition: left 500ms cubic-bezier(0.175, 0.855, 0.32, 1.275);
  transition: left 500ms cubic-bezier(0.175, 0.855, 0.32, 1.275);
}

.login .contenedor__login-register form {
  width: 100%;
  padding: 80px 20px;
  background: white;
  position: absolute;
  border-radius: 20px;
}

.login .contenedor__login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #46a2fd;
}

.login .contenedor__login-register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #F2F2F2;
  font-size: 22px;
  outline: none;
}

.login .contenedor__login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #46a2fd;
  color: white;
  cursor: pointer;
  outline: none;
}

.login .contenedor__login-register .formulario__login {
  opacity: 1;
  display: block;
}

.login .contenedor__login-register .formulario__register {
  display: none;
}

/*Trabajando en el Responsive */
@media screen and (max-width: 850px) {
  main {
    margin-top: 50px;
  }
  .caja__trasera {
    max-width: 350px;
    height: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .caja__trasera div {
    margin: 0px;
    position: absolute;
  }
  /*Formulario*/
  .contenedor__login-register {
    top: -10px;
    left: -5px;
    margin: auto;
  }
  .contenedor__login-register form {
    position: relative;
  }
}

/*-------------------------------Pag eco----------------------------*/
.contenedorEco {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  -ms-grid-rows: 1fr 2fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 2fr 1fr;
      grid-template-areas: ". row1 ." ". row2 ." ". row3 ." ". banner .";
  justify-items: center;
  grid-gap: 1em;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 15%;
  background-image: radial-gradient(white, slategray);
}

.contenedorEco h2 {
  text-align: center;
  padding: 1rem;
  color: #1a206e;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 5px 5px #ccc;
  /*Animacion Lista Titulo*/
  -webkit-animation: fadeOut;
          animation: fadeOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.contenedorEco .contenedorEco__tex1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: row1;
}

.contenedorEco .contenedorEco__tex2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: row2;
}

.contenedorEco .contenedorEco__tex3 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: row3;
}

.contenedorEco .contenedorEco__banner {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: banner;
}

.contenedorEco .contenedorEco__banner img {
  padding-left: 37%;
  margin-right: auto;
  margin-left: auto;
}

/*-------------------------------Pag Productos----------------------------*/
.contenedorProd {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 15%;
  background-image: radial-gradient(white, slategray);
      grid-template-areas: "titulo" "cont" "marcast" "marcas";
  -ms-grid-rows: 250px 400px 250px auto;
      grid-template-rows: 250px 400px 250px auto;
  /*Carrusel*/
}

.contenedorProd h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
  grid-gap: 1em;
  text-align: center;
  padding: 1rem;
  color: #1a206e;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 5px 5px #ccc;
  /*Animacion Lista Titulo*/
  -webkit-animation: fadeOut;
          animation: fadeOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.contenedorProd .prodTable {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cont;
  border: #102347;
  text-align: left;
  width: 50%;
  margin-top: -20px;
      justify-self: center;
  background-color: white;
}

.contenedorProd .prodTable thead tr th {
  border: 10px;
  background-color: #1a206e;
  border-bottom: solid 8px black;
  text-align: center;
  padding: 10px;
  color: rgba(255, 255, 255, 0.774);
  font-size: 1.5em;
  font-family: 'Baloo Chettan 2', cursive;
}

.contenedorProd .prodTable tbody tr td {
  padding: 15px;
  font-size: 1.2em;
  font-family: 'Righteous', cursive;
}

.contenedorProd .prodTable tbody tr td tr:nth-child(odd) {
  background-color: rgba(26, 87, 200, 0.507);
}

.contenedorProd .marcasProd {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: marcas;
  grid-auto-columns: auto;
  -ms-grid-column-align: center;
      justify-self: center;
  min-width: 100vh;
}

.contenedorProd .marcasProd .marcasProd__tit {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: marcast;
  height: 150px;
}

.contenedorProd .marcasProd .marcasProd__tit p {
  text-align: center;
  font-size: 1.7em;
  border-radius: 35%;
  background-image: radial-gradient(rgba(4, 22, 124, 0.206), rgba(112, 128, 144, 0.203));
}

.contenedorProd .marcasProd #carouselExampleControls {
  -ms-grid-column-align: center;
      justify-self: center;
}

.contenedorProd .marcasProd .carousel-item img {
  padding-left: 500px;
}

/*-------------------------------Pag Nosotros----------------------------*/
.contenedorNos {
  padding-top: 200px;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-row-align: center;
      align-self: center;
  margin-top: 20px;
  margin-bottom: -100px;
  border-radius: 15%;
  background-image: radial-gradient(white, slategray);
      grid-template-areas: "tex1" "tex2" "tex3";
  -ms-grid-rows: 250px 250px 250px;
      grid-template-rows: 250px 250px 250px;
}

.contenedorNos h3 {
  text-align: center;
  padding: 1rem;
  color: #1a206e;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 5px 5px #ccc;
}

.contenedorNos .quienesNos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tex1;
}

.contenedorNos .misionNos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tex2;
}

.contenedorNos .visionNos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tex3;
}

/*-------------------------------Pag Contacto----------------------------*/
.contenedorContacto {
  padding-top: 50px;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 15%;
  background-image: radial-gradient(white, slategray);
}

.contenedorContacto h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin: 0px;
}

.contenedorContacto p {
  text-align: center;
  margin: 0px;
  font-size: 25px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.contenedorContacto .titular {
  margin-bottom: -20%;
  height: 100px;
}

.contenedorContacto #form_contacto {
  margin-top: -500px;
}

/*-------------------------------Pag autom----------------------------*/
.contenedorAut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 15%;
  background-image: radial-gradient(white, slategray);
}

.contenedorAut h2 {
  text-align: center;
  padding: 1rem;
  color: #1a206e;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 5px 5px #ccc;
  /*Animacion Lista Titulo*/
  -webkit-animation: fadeOut;
          animation: fadeOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.contenedorAut .listaTipos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  color: white;
  background-color: rgba(29, 95, 161, 0.603);
  font-family: 'Righteous', cursive;
  padding: 3rem;
  border-radius: 5%;
  /*Animacion Lista Titulo*/
  -webkit-animation: bounceInUp;
          animation: bounceInUp;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.contenedorAut .listaTipos h2 {
  color: black;
  padding: 1rem;
  margin-top: -30px;
  text-shadow: 1px 1px 20px black;
}

.contenedorAut .listaTipos li {
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  list-style-position: inside;
}

.contenedorAut .listaTipos dd {
  margin-left: 100px;
  text-align: center;
  color: white;
}

/*-------------------------------Pag eco----------------------------*/
.contenedorEco {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 15%;
  background-image: radial-gradient(white, slategray);
}

.contenedorEco h2 {
  text-align: center;
  padding: 1rem;
  color: #1a206e;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 5px 5px #ccc;
  /*Animacion Lista Titulo*/
  -webkit-animation: fadeOut;
          animation: fadeOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.contenedorEco .contenedorEco__banner {
  margin: auto;
  padding: auto;
}

.contenedorEco .contenedorEco__banner img {
  padding: 0;
  padding-left: 5%;
}

/*-------------------------------Pag Extra----------------------------*/
.contenedorExt {
  padding-top: 200px;
  min-height: 100vh;
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 15%;
  background-image: radial-gradient(white, slategray);
      grid-template-areas: "titulo" "cont" "recuadro";
  -ms-grid-rows: 300px 350px 200px;
      grid-template-rows: 300px 350px 200px;
  /*Tabla Ext*/
}

.contenedorExt h2 {
  margin-top: -150px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
  text-align: center;
  padding: 1rem;
  color: #1a206e;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 5px 5px #ccc;
  /*Animacion Titulo*/
  -webkit-animation: fadeOut;
          animation: fadeOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.contenedorExt p {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
  margin-top: -35px;
  text-align: center;
  font-size: 25px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.contenedorExt .contendorExt__extTable {
  border: #102347;
  text-align: left;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cont;
  margin-top: -150px;
  margin-bottom: 50px;
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: white;
}

.contenedorExt .contendorExt__extTable thead tr th {
  border: 10px;
  background-color: #1a206e;
  border-bottom: solid 8px black;
  text-align: center;
  padding: 10px;
  color: rgba(255, 255, 255, 0.774);
  font-size: 1.5em;
  font-family: 'Baloo Chettan 2', cursive;
}

.contenedorExt .contendorExt__extTable tbody tr td {
  padding: 15px;
  font-size: 1.2em;
  font-family: 'Righteous', cursive;
}

.contenedorExt .contendorExt__extTable tbody tr td tr:nth-child(odd) {
  background-color: rgba(26, 87, 200, 0.507);
}

.contenedorExt .contendorExt__Infoext {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: recuadro;
}

.contenedorExt .contendorExt__Infoext fieldset legend {
  font-size: 2em;
  font-family: 'Righteous', cursive;
}

.contenedorExt .contendorExt__Infoext fieldset h4 {
  padding: 5px 0px 0px 3px;
  font-size: 1.5em;
  color: #1a206e;
}

.contenedorExt .contendorExt__Infoext fieldset .texto2 {
  -ms-grid-columns: 700px;
      grid-template-columns: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 50px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */